@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
}

/* shared styling  */
.gray-writings {
    color: rgba(102, 102, 102, 1);
    font-size: 0.95rem;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

nav {
    height: 62px;
    max-width: 1160px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 202px;
}

.logo > h1 {
    font-size: 2rem;
}

.anchor-div {
    height: 30px;
    width: 387px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

nav > button {
    background-color: orange;
    border: none;
    border-radius: 12px;
    height: 50px;
    width: 197px;
    font-size: 1.25rem;
    color: white;
}

#hamburger {
    display: none;
}

/* designing hero section  */
.hero-section {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width: 1160px;
}

.hero-writings > h1 > span {
    font-size: 3.5rem;  
    font-weight: 700;
}

#orange-writing-hero {
    color: orange;
}

#skyblue--writing-hero {
    color: #01ACFD
}

.hero-writings > p {
    font-size: 1.25rem;
    margin: 24px 0px;

}
.hero-section > img {
    width: 100%;
}

.black-btn {
    color: white;
    background-color: black;
    height: 50px;
    width: 197px;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 700;
}

/* designing Curriculum  */
.curriculum {
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.curriculum > h1 {
    font-size: 2.875rem;
    font-weight: 700;
    
}
.curriculum-card-container {
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;
    gap: 28px;
}

.curriculum-card {
    height: 366px;
    width: 287px;
    border-radius: 18.86px;
    padding: 55px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.card-1 {
    background-image: linear-gradient(#DEF5FF 0%, white 40%);
    border: 0.94px solid #DEF5FF;
}

.card-2 {
    background-image: linear-gradient(#FFF4DC 0%, white 40%);
    border: 0.94px solid #FFF4DC;
}

.card-3 {
    background-image: linear-gradient(#EEE1FF 0%, white 40%);
    border: 0.94px solid #F2E8FF;
}

.read-more-1 {
    color: rgba(100, 200, 255, 1);
    font-weight: 700;
}
.read-more-2 {
    color: rgba(240, 170, 0, 1);
    font-weight: 700;
}
.read-more-3 {
    color: rgba(135, 0, 255, 1);
    font-weight: 700;
}

.arrow-buttons {
    background-color: orange;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-button-container {
    height: 60px;
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.arrow-buttons > i {
    font-size: 1.5rem;
}

.arrow-buttons:hover {
    background-color: rgba(255, 166, 0, 0.592);
    cursor: pointer;
}

/* designing the story section  */
.stories {
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: url("assets/bg.png"),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    background-size: cover;
} 

.stories > h1 {
    font-size: 2.875rem;
    font-weight: 700;
}

.stories-card-container {
    display: flex;
    gap: 20px;
    margin: 80px 0px;
}

.big-card, .small-card-container {
    height: 630px;
    width: 540px;
}

.small-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px
}

.card-buttons {
    border: none;
    border-radius: 48px;
    font-family: "Raleway", serif;
    height: 47px;
    width: 174px;
    color: white;
    margin-left: 38px;
    position: relative;
    top:-30px;
}

.small-card > .card-buttons {
    height: 38px;
    top:-25px
}

.big-card {
    border-radius: 16px;
    background-color: white;
}

.big-card > img, .small-card > img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.big-card > h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0px 100px 50px 40px;
}

.big-card > p {
    margin: 0px 70px 35px 40px
}

.small-card {
    border-radius: 16px;
    background-color: white;
}

.small-card > h3 {
    font-size: 1rem;
    padding: 0px 40px 0px 40px;
}


@media screen and (max-width: 576px) {
    .gray-writings {
        font-size: 0.625rem;
    }
    #hamburger {
        display: block;
        font-size: 1.875rem;
    }

    nav {
        margin: 0px;
        border-bottom: 0.5px solid orange;
        padding: 12px 16px;
    }

    .anchor-div, nav>button, .logo > h1 {
        display: none;
    }

    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section > img {
        width: 86vw;
    }

    .hero-writings {
        text-align: center;
    } 

    .hero-writings > h1 > span > br {
        display: none;
    }

    .hero-writings > p {
        padding: 0px 17px;
    }

    .black-btn {
        height: 42px;
        width: 131px;
        font-size: 1rem;
        border-radius: 8px;
    }

    .hero-writings > h1 > span {
        font-size: 2rem;
    }

    .hero-writings > p {
        font-size: 0.875rem;
    }

    /* designing curriculum  */
    
    .curriculum-card-container {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .arrow-button-container {
        display: none;
    }

    .curriculum > h1 {
        font-size: 1.625rem;
    }
    .curriculum-card {
        padding: 0px;
        margin: 0px;
        width: 50%;
        padding: 40px 20vw;
    }

    .curriculum-card > .gray-writings {
        margin-bottom: 22px;
    }

    .read-more-1, .read-more-2, .read-more-3 {
        font-size: 0.625rem;
    }
}