@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
}

nav {
    height: 62px;
    max-width: 1160px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 202px;
}

.logo > h1 {
    font-size: 2rem;
}

.anchor-div {
    height: 30px;
    width: 387px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

nav > button {
    background-color: orange;
    border: none;
    border-radius: 12px;
    height: 50px;
    width: 197px;
    font-size: 1.25rem;
    color: white;
}

#hamburger {
    display: none;
}

/* designing hero section  */
.hero-section {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width: 1160px;
}

.hero-writings > h1 > span {
    font-size: 3.5rem;  
    font-weight: 700;
}

#orange-writing-hero {
    color: orange;
}

#skyblue--writing-hero {
    color: #01ACFD
}

.hero-writings > p {
    font-size: 1.25rem;
    margin: 24px 0px;

}

.black-btn {
    color: white;
    background-color: black;
    height: 50px;
    width: 197px;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
}

/* designing Curriculum  */
.curriculum {
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.curriculum > h1 {
    font-size: 2.875rem;
    font-weight: 700;
    
}
.curriculum-card-container {
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;
    gap: 28px;
}

.curriculum-card {
    height: 366px;
    width: 287px;
    border-radius: 18.86px;
    padding: 55px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.card-1 {
    background-image: linear-gradient(#DEF5FF 0%, white 40%);
    border: 0.94px solid #DEF5FF;
}

.card-2 {
    background-image: linear-gradient(#FFF4DC 0%, white 40%);
    border: 0.94px solid #FFF4DC;
}

.card-3 {
    background-image: linear-gradient(#EEE1FF 0%, white 40%);
    border: 0.94px solid #F2E8FF;
}

.read-more-1 {
    color: rgba(100, 200, 255, 1);
    font-weight: 700;
}
.read-more-2 {
    color: rgba(240, 170, 0, 1);
    font-weight: 700;
}
.read-more-3 {
    color: rgba(135, 0, 255, 1);
    font-weight: 700;
}

.arrow-buttons {
    background-color: orange;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-button-container {
    height: 60px;
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.arrow-buttons > i {
    font-size: 1.5rem;
}

.arrow-buttons:hover {
    background-color: rgba(255, 166, 0, 0.592);
    cursor: pointer;
}
@media screen and (max-width: 576px) {
    #hamburger {
        display: block;
        font-size: 1.875rem;
    }

    .anchor-div, nav>button, .logo > h1 {
        display: none;
    }

    .hero-section {
        flex-direction: column-reverse;
    }
    .hero-writings {
        text-align: center;
    } 

    .hero-writings > h1 > span > br {
        display: none;
    }

    /* designing curriculum  */
    .curriculum-card-container {
        flex-direction: column;
    }
    .arrow-button-container {
        display: none;
    }
}